{#{% extends '@EasyAdmin/default/layout.html.twig' %}#}
{% extends '@EasyAdmin/page/content.html.twig' %}
{#{% extends 'base.html.twig' %}#}

{% block title %}{{ product.id ? 'Edit' : 'Create new'}} Product{% endblock %}


{% block content %}
<link rel="stylesheet" href="{{ asset('assets/bootstrap-select.min.css') }}">
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script src="{{ asset('assets/bootstrap-select.min.js') }}"></script>

{#{% form_theme form '@EasyAdminBundle:form:bootstrap_4.html.twig' %}#}

    <style>
        .form-group label{
            text-align: left;
        }
        .btn-delete{
            float: left;
        }
    </style>
    <div class="content">
        <section class="content-header ">
            <div class="d-flex flex-row justify-content-between align-content-center w-100">
                <div class="content-header-title">
                    <h1 class="title">    {{ block('title') }}</h1>
                </div>

                <div class="global-actions"></div>
            </div>

        </section>

        <section id="main" class="content-body">
             {{ form_start(form) }}
    <div class="row">
        {% if product.hasImage() %}
            <img src="{{ asset('uploads/images/' ~ product.image.imageName)}}" class="img-thumbnail" style="max-width: 7em; border-radius: 50%; transform: translate(-20%,-30%)">
        {% endif %}
        <h2 style="text-transform: uppercase">{{ product.referenceName }}</h2>
    </div>

    <div class="row">
        <div class="col-md-4">
            Reference Name of the product
        </div>
        <div class="col-md-6">
            {{ form_widget(form.referenceName) }}
        </div>
    </div>

    <div class="row top-padding">
        <div class="col-md-4">
            Show this product to the users at product tree
        </div>
        <div class="col-md-6">
            {{ form_row(form.enabled) }}
        </div>
    </div>

    <div class="row top-padding">
            <div class="col-md-4">
                Product importance, any valor. <br>
                <small>The bigger ones are show first.</small>
            </div>
            <div class="col-md-6">
                {{ form_row(form.importance) }}
            </div>
    </div>



    <div class="row top-padding">
        <div class="col-md-4">
            Parent of this product in the Product tree
            <br>
            <small>Empty for show it at home as category</small>
        </div>
        <div class="col-md-6">
            {{ form_widget(form.parent, {'attr':{ 'data-widget': 'select2', 'class': 'products_parent_select' } }) }}
        </div>
    </div>


    <div class="row top-padding">
        <div class="col-md-4">
            Translations
            <br>
            <small>Add the name and some description in English, German and Spanish for this product. </small>
            <br>
            <small>If a translation isn't available, the english one will be used.</small>
        </div>
        <div class="col-md-6">
            {{ form_widget(form.translations) }}
        </div>
    </div>


    <hr>

    <div class="row top-padding">
        <div class="col-md-4">
            Product image
            <br>
            <small>Add an image for this product. It will be used to show the product at list.</small>

        </div>
        <div class="col-md-6">
            {{ form_row(form.image.imageFile) }}
        </div>
    </div>


<hr>
    <div class="row">
        <div class="col-md-12">
            <h5>Product PDF File</h5>
        </div>
    </div>
    <div class="row">

                <div class="col-md-4 card-body">
                    <div class="form-group">
{#                        {{ form_row(form.file.title) }}#}
{#                        {{ form_row(form.file.file) }}#}
                        {{ form_row(form.translatedDocument.enFile) }}


                    </div>
                </div>

                <div class="col-md-4 card-body">
                    <div class="form-group">
{#                        {{ form_row(form.file.title) }}#}
{#                        {{ form_row(form.file.file) }}#}
                        {{ form_row(form.translatedDocument.deFile) }}


                    </div>
                </div>

                <div class="col-md-4 card-body">
                    <div class="form-group">
{#                        {{ form_row(form.file.title) }}#}
{#                        {{ form_row(form.file.file) }}#}
                        {{ form_row(form.translatedDocument.esFile) }}


                    </div>
                </div>
    </div>


              <button type="submit" class="btn btn-primary action-save">
                        <span class="btn-label">Save changes</span>
            </button>
            {{ form(form) }}

        </section>

            <section class="content-footer" style="position: relative;">
                <div class="form-actions">



                    {% if product.id %}{{ form(deleteForm) }}{% endif %}



                    <a class=" btn btn-link pr-0 action-list" title="" href="{{ path('soc_product_index') }}" target="_self">Back to listing</a>


                </div>


            </section>


    </div>

    <style>
        .card .vich-image img{
            display: none;
        }
        .top-padding{
            padding-top: 2em;
        }
        .vich-image, .vich-image img{
            max-width: 100%;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('.products_parent_select').select2();
            if(typeof bsCustomFileInput != 'undefined')
                bsCustomFileInput.init();

        })
    </script>
    <h2></h2>


{% endblock %}
