{#{% extends '@EasyAdmin/default/layout.html.twig' %}#}
{% extends '@EasyAdmin/page/content.html.twig' %}
{#{% extends 'base.html.twig' %}#}

{% block title %}{{ document.id ? 'Edit' : 'Create new'}} document{% endblock %}


{% block content %}

{#{% form_theme form '@EasyAdminBundle:form:bootstrap_4.html.twig' %}#}

    <script src="{{ asset('bundles/vendor/bs-custom-file-input.min.js') }}"></script>
    <style>
        .form-group label{
            text-align: left;
        }
        .btn-delete{
            float: left;
        }
    </style>
    <div class="content">
        <section class="content-header ">
            <div class="d-flex flex-row justify-content-between align-content-center w-100">
                <div class="content-header-title">
                    <h1 class="title">    {{ block('title') }}</h1>
                </div>

                <div class="global-actions"></div>
            </div>

        </section>

        <section id="main" class="content-body">
             {{ form_start(form) }}
    <div class="row">
        {% if document.image %}
            <img src="{{ asset('uploads/images/' ~ document.image.imageName)}}" class="img-thumbnail" style="max-width: 7em; max-height: 7em; border-radius: 50%; transform: translate(-20%,-30%)">
        {% endif %}
        <h2 style="text-transform: uppercase">{{ document.referenceName }}</h2>
    </div>

    <div class="row">
        <div class="col-md-4">
            Reference Name of the document
            <br>
            <small>This name will only be used in this admin panel. </small>

        </div>
        <div class="col-md-6">
            {{ form_widget(form.referenceName) }}
        </div>
    </div>

    <div class="row top-padding">
        <div class="col-md-4">
            Show this document to users
        </div>
        <div class="col-md-6">
            {{ form_row(form.enabled) }}
        </div>
    </div>





    <div class="row top-padding">
        <div class="col-md-4">
            Translations
            <br>
            <small>Add the name and some description in English, German and Spanish for this document. </small>
            <br>
            <small>If a translation isn't available, the english one will be used.</small>
        </div>
        <div class="col-md-6">
            {{ form_widget(form.translations) }}
        </div>
    </div>


    <hr>

    <div class="row top-padding">
        <div class="col-md-4">
            Document image
            <br>
            <small>Add an image for this document. It will be used to show the document at list.</small>

        </div>
        <div class="col-md-6">
            {{ form_row(form.image.imageFile) }}
        </div>
    </div>


<hr>
    <div class="row">
        <div class="col-md-12">
            <h5>Product downloadable File</h5>
        </div>
    </div>
    <div class="row">

                <div class="col-md-4 card-body">
                    <div class="form-group">
{#                        {{ form_row(form.file.title) }}#}
{#                        {{ form_row(form.file.file) }}#}
                        {{ form_row(form.translatedDocument.enFile) }}


                    </div>
                </div>

                <div class="col-md-4 card-body">
                    <div class="form-group">
{#                        {{ form_row(form.file.title) }}#}
{#                        {{ form_row(form.file.file) }}#}
                        {{ form_row(form.translatedDocument.deFile) }}


                    </div>
                </div>

                <div class="col-md-4 card-body">
                    <div class="form-group">
{#                        {{ form_row(form.file.title) }}#}
{#                        {{ form_row(form.file.file) }}#}
                        {{ form_row(form.translatedDocument.esFile) }}


                    </div>
                </div>
    </div>


              <button type="submit" class="btn btn-primary action-save">
                        <span class="btn-label">Save changes</span>
            </button>
            {{ form(form) }}

        </section>
          <section class="content-footer" style="position: relative;">
                <div class="form-actions">

                    {% if document.id %}{{ form(deleteForm) }}{% endif %}



                    <a class=" btn btn-link pr-0 action-list" title="" href="{{ path('soc_document_index') }}" target="_self">Back to listing</a>


                </div>


            </section>
                    </div>
    <style>
        .card .vich-image img{
            display: none;
        }
        .top-padding{
            padding-top: 2em;
        }
    </style>
    <script>
        $(document).ready(function () {
          bsCustomFileInput.init()
        })
    </script>
    <h2></h2>


{% endblock %}
