{% extends 'base.html.twig' %}
{% block title %}Reset your password{% endblock %}
{% block container %}

    <div class="container" style="width: 20em; padding: 4em 0;transform: translate(calc(50vw - 10em));">

        <div class="row">
            <img src="{{ asset('logo.png') }}" alt="" style="height: 4em;margin: 0 auto">
        </div>
        <div class="row">
            <h2 style="margin:  auto">Reset your Password</h2>
        </div>
         <div class="row">
              {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.password) }}
         </div>



        <div>
            <input type="submit" value="Reset your password" style="margin: 1em auto; transform: translate(50%);" />
        </div>
    {{ form_end(form) }}
    </div>

{% endblock %}
